.chat {
    /* color: white; */
    height: 100%;
    width: 100%;
    /* background-color: rgb(44, 46, 46); */
    flex: 1;
}

.chattop{
    width: 100%;
    height: 70px;
    color: rgb(94, 117, 54);
    display: flex;
    align-items: center;
    border-radius: 12px;
}
.back{
    width: 45px;
    height: 45px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.back:hover{
    background-color: rgb(85, 84, 82);

}
.back img {
  width: 72px;
  height: 72px;
  /* filter: invert(1); */
}

.cuser{
    padding: 1px;
    height: 60px;
    width: 30vw;
    /* background-color: cadetblue; */
    margin: 5px;
    display: flex;
}
.cuimg{
    height: 58px;
    width: 60px;
    /* background-color: rgb(59, 57, 57); */
    align-content: center;
    justify-items: center;
    padding-left: 10px;
}
.cuimg>img{
    height: 55px;
    width: 55px;
    border-radius: 30px;
}
.cnames{
    height: 58px;
    width:15vw ;
    /* background-color: blueviolet; */
    padding-left: 15px;
    align-content: center;
}
.cname{
    color: rgb(94, 117, 54);
    font-size: x-large;
    font-weight: bold;
}
.cusername{
    font-weight: bold;
}

/* message area */

.msgarea{
    width: 100%;
    height: 80vh;
    /* background-color: gray; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.input{
    width: 100%;
    height: 50px;
    /* background-color: rgb(51, 54, 54); */
    position: sticky;
    bottom: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input>input{
    height:40px ;
    width: 90%;
    border-style: none;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(136, 133, 133);
    font-size: large;
    font-weight: bold;
    color: white;
}
.input>input::placeholder{
    color: rgb(88, 119, 36);
    opacity: 1;
    font-weight: bold;
    font-size: large;
}
.send{
    color: white;
    border: none;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  background-color: rgb(106, 126, 71);
}
.send:hover{
    background-color: rgb(99, 139, 30);
}

/* chat msg */

.chatmsgs {
flex: 1;
overflow-y: auto;
display: flex;
flex-direction: column;
gap: 10px;
scrollbar-width: none;
}

.chatmsgs::-webkit-scrollbar{
    display: none;
}

.otherchatmsg {
    max-width: 70%;
    border: 1px solid  rgb(88, 119, 36) ;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    border-top-left-radius: 0;
    font: bold;
    color: white;
    font-size: medium;
    word-wrap: break-word;
    align-self: flex-start;
}
.mychatmsg {
    max-width: 65%;
    border: 1px solid  rgb(88, 119, 36);
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    border-top-right-radius: 0;
    font: bold;
    color: white;
    font-size: medium;
    word-wrap: break-word;
    align-self: flex-end;
}