.chatlist {
    justify-items: center;
}
.chats{
    width: 100%;
    /* background-color: rgb(39, 38, 38); */
    margin-top: 30px;

}
.heading{
    /* background-color: rgb(162, 216, 216); */
    width: 100%;
    height: 90px;
    margin: 10px;
}
.heading>h1{
    color: rgb(89, 111, 54);
    font-weight: bold;
}
.mchat {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color:  rgb(94, 117, 54);
    margin: 5px;
}
.mchat:hover{
    background-color:  rgb(104, 119, 78);
}

/* Profile image container */
.Chatimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;   
    overflow: hidden;
}


.Chatimg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Name + last message */
.names {
    flex: 1;          
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
    padding: 20px;
}

.name {
    font-weight: bold;
    color: white;
    font-size: larger;
}

.lastmsg {
    font-size: 14px;
    color: #ddd;
}

.dropdown-toggle{
    background-color: rgb(255, 255, 255) ;
    color:  rgb(94, 117, 54);
}

.dropdown-item{
    background-color: rgb(94, 117, 54) ;
}
