.LB {
  width : 25%;
  height: 100%;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  justify-items: center;
}
.img{
    /* background-color: gray; */
    height: 120px;
    width: 100%;
    margin: 1px;
    display: flex;
    justify-content: center;
}
.img>img{
    height: 120px;
    width: 220px;    
}
.home{
    /* background-color: gray; */
    height: 60px;
    width: 100%;
    margin: 60px 0px 0px 0px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 6px;
    padding: 0px 0px 0px 20px;
}
.home:hover{
    background-color: rgb(89, 111, 54);
    cursor: pointer;
}

.home>img{
    height: 40px;
    width: 40px;
}
.search{
    /* background-color: gray; */
    height: 60px;
    width: 100%;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 6px;
    padding: 0px 0px 0px 20px;
}
.search:hover{
    background-color: rgb(89, 111, 54);
    cursor: pointer;
}
.search>img{
    height: 35px;
    width: 35px;
}
.messages{
    /* background-color: gray; */
    height: 60px;
    width: 100%;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 6px;
    padding: 0px 0px 0px 20px;
}
.messages:hover{
    background-color: rgb(89, 111, 54);
    cursor: pointer;
}
.messages>img{
    height: 35px;
    width: 35px;
}
.profile{
    /* background-color: gray; */
    height: 60px;
    width: 100%;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 6px;
    padding: 0px 0px 0px 20px;
}
.profile:hover{
    background-color: rgb(89, 111, 54);
    cursor: pointer;
}
.profile>img{
    height: 35px;
    width: 35px;
}
.notification{
    /* background-color: gray; */
    height: 60px;
    width: 100%;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 6px;
    padding: 0px 0px 0px 20px;
}
.notification:hover{
    background-color: rgb(89, 111, 54);
    cursor: pointer;
}
.notif-icon>img{
    height: 40px;
    width: 40px;
}

.Logout{
    /* background-color: gray; */
    height: 50px;
    width: 150px;
    margin-top: 45px;
}
.Logout>button{
    border-style: none;
    width: 100%;
    height: 100%;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 10px;
    background-color:  rgb(89, 111, 54);
    color: white;
}
.Logout>button:hover{
    background-color: red;
    cursor: pointer;
}





