.login{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left {
    height: 60vh;
    width: 40vw;
    border-radius: 10px;
    background-color: white;
}
.li{
    /* background-color: white; */
    height: 80vh;
    width: 40vw;
    
}
.li{
    padding: 10px;
    align-content: center;
}
.btn {
    align-self: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.bttn2 {
    margin-top: 60px;
    border-style: none;
    border-radius: 15px;
    font-weight: bold;
    background-color:  rgb(65, 77, 48);
    border: 2px solid black;
    color: white;
    width: 39vw;
}
.bttn2:hover{
    background-color:  rgb(89, 111, 54);
}