.NB{
    height: 16vh;
    width: 100%;
    background-color: rgb(89, 111, 54);
    align-items: center;
    padding: 10px;
    display: flex;
    /* gap: 10px; */
    border-radius: 13px;
}
.profilecard{
    align-content: center;
    justify-items: center;
    /* background-color: gray; */
    width: 80px;
    height: 100%;
}
.profileNB{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 30px;
}
.name {
    color: white;
}