.friendsbox{
    /* background-color: gray; */
    height: 95vh;
    width: 43vw;
    padding: 5px;
    justify-items: center;
}
.heading{
    color: white;
    height: 50px;
    width: 40vw;
    align-content: center;
    margin: 5px;
}
.fcards{
    width: 40vw;
    height: 83vh;
    /* background-color: white; */
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
    justify-items: center;
    scrollbar-width: none;
}
.fcard::-webkit-scrollbar{
    display: none;
}
.fcard{
    width: 18vw;
    height: 50vh;
    background-color: rgb(136, 165, 89);
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
}
.fimg>img{
    width: 100%;
    height: 27vh;
    border-radius: 15px;
}
.names{
    width: 100%;
    height: 11vh;
    color: black;
}
.naam{
    font-size:x-large;
    font-weight: bold;
}
.uname{
    color: rgb(58, 58, 58);
    font-size: large;
    font-weight: bold;
}
.bttn{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bttn>button{
    border-style: none;
    border-radius: 6px;
}
.btn1:hover{
    background-color:rgb(26, 90, 209);
}
.btn2:hover{
    background-color: red;
}