.Home {
  width : 100%;
  height: 100%;
  /* background-color: rgb(46, 45, 45); */
   /* border: 1px solid white; */
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
}
.friendinhome{
  width: 80%;
  height: 75vh;
  /* background-color: aliceblue; */
  border-radius: 10px;
  border: 2px solid rgb(121, 163, 53);
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.frndnav{
  width: 100%;
  height: 60px;
  /* background-color: aqua; */
  display: flex;
}
.frndimg{
  width: 20%;
  height: 100%;
  /* background-color: rgb(10, 10, 9); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.frndimg>img{
  height: 50px;
  width: 50px;
  border-radius: 30px;
}
.frndusername{
  align-content: center;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
  color: white;
}
.frndmainimg{
  width: 100%;
  height: 60vh;
  /* background-color: aqua; */
}
.frndmainimg>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}