.searchbar{
    background-color: rgb(9, 10, 6);
    width: 100%;
    height: 100%;  
    padding: 10px;  
}
.searchbar>h1{
    color: rgb(124, 163, 61);
}
.Sinput{
    width: 100%;
    height: 90%;
    /* background-color:  rgb(39, 39, 38); */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.Sinput>input{
    height: 50px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid gray;
    /* background-color:  rgb(124, 150, 82); */
    background-color: white;
    margin-top: 20%;
    color: rgb(12, 10, 10);
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
    padding-left: 10px;
    /* position:fixed; */
}
.Sinput>input::placeholder{
    color: rgb(124,  150, 82);
}

.search-userss{
    width: 80%;
    max-height: 300px;
    height: 300px;
    /* background-color: white; */
    /* padding: 5px; */
    overflow-y: auto;
    scrollbar-width: none;
    margin: 5px;
}
.search-userss::-webkit-scrollbar{
    display: none;
}
.searchuser{
    width: 98%;
    height: 60px;
    background-color:  rgb(127, 151, 87);
    display: flex;
    margin: 5px;
    border-radius: 6px;
}
.searchimg{
    width: 15%;
    height: 100%;
    /* background-color: blue; */
    
}
.searchimg>img{
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 35px;
}
.searchnames{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
    padding: 5px;
    padding-left: 10px;
}
.searchname{
    font-size:large ;
    font-weight: bold;
}
.searchbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}
.searchbtn>button{
    background-color:  #0095f6;
    border-style: none;
    border-radius: 5px;
    color: white;
}
.searchbtn>button:hover{
    background-color:rgb(121, 163, 53) ;
}